/$RECYCLE.BIN
/BlueStacks
/desktop.ini
/Microsoft
/Microsoft Visual Studio
/MSI Afterburner
/Phasmophobia
/Phasmophobia.zip
/SteamLibrary
/System Volume Information
/Valorant
/vsl backup - Copy.txt
/vsl backup.txt
/Wallpaper.Engine.v1.6.22
/Wallpapers